#day1 {
    background: white;
    background-image: url(/images/bg-01-santa.png);
    background-size: cover;
    background-position: center center;
    &.panel > .art {
        width: 100%;
        .ubuntu-mono {
            text-align: center;
            font-size:40px;
            color: #BA9668;
            background-blend-mode: multiply;
            margin:0;
        }

        .radley-italic {
            text-align: center;
            font-size: 144px;
            color: #FF0000;
            background-blend-mode: multiply;
            margin:0 0 30px 0;
        }

        .underline {
            border-bottom: 6px solid #FF0000;
            padding: 0 0 10px 0;
        }
    }
}
