#day15 {
  // change background color of panel
  // we'll update the ids to be unique when pushed
  // to production
  background: #000a22;
  background: -webkit-linear-gradient(#000a22 0%, #000529 80%);
  background: -moz-linear-gradient(#000a22 0%, #000529 80%);
  background: -o-linear-gradient(#000a22 0%, #000529 80%);
  background: linear-gradient(#000a22 0%, #000529 80%);
}

#day15.panel > .art {
  // where you can art
  text-align: center;

  h1 {
    color: white;
    font-size: 68px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  h2 {
    color: rgba(255,255,255,0.3);
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;

  }

  .bolt-1 {
    background: url(http://yuletypelog.com/images/bolt-01.svg);
    background-size: 120px auto;
    width: 120px;
    height: 120px;
    position: absolute;
    top: -40px;
    left: -185px;

  }

  .bolt-2 {
    background: url(http://yuletypelog.com/images/bolt-02.svg);
    background-size: 85px auto;
    width: 85px;
    height: 85px;
    position: absolute;
    top: -140px;
    left: 385px;

  }
  
  .bolt-3 {
    background: url(http://yuletypelog.com/images/bolt-03.svg);
    background-size: 140px auto;
    width: 140px;
    height: 140px;
    position: absolute;
    top: 170px;
    left: 745px;

  }
}
