#day6 {
    // background: #0e000e;
    @include background-image(linear-gradient(#1b071b, #130013));

    .byline {
        color: #ffffff;
    }

    &.panel > .art {
        // where you can art
        width: 100%;
        height: 100%;
        position: relative;
        color: #ffffff;

        .centered {
            width: 720px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
        }

        h2 {
            font-weight: 400;
            font-size: 60px;
            letter-spacing: -2px;
            text-align: left;
            line-height: 1.218;
        }

        .hummed {
            font-weight: 600;
            font-size: 65px;
            display: block;
        }
    }

    canvas {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
    }
}

#day13 {
    &.panel > .art {
        width: 600px;
        font-family: 'Alegreya Sans', sans-serif;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;

        .frame {
            position: relative;
            color: #000;
            font-size: 80px;
            background: url('../images/pennies.png') no-repeat center center;
            background-size: 100%;
            border: solid 5px #000000;
            margin: 0 auto;

            @media (max-width: 1680px) {
                width: 406px;
                height: 542px;
            }

            @media (min-width: 1681px) {
                width: 600px;
                height: 802px;
            }

            .baskerville {
                font-style: italic;
                position: absolute;
                top: 340px;
                left: 220px;

                @media (max-width: 1680px) {
                    font-size: 65px;
                    top: 222px;
                    left: 140px;
                }
            }
        }
    }
}

#day17 {
    &.panel {
        background: url('../images/turtle-doves-bg.jpg') no-repeat center center;
        background-size: cover;

        .birds {
            width: 500px;
            position: absolute;
            top: 50%;
            left: 175px;
            transform: translateY(-50%);
        }
    }
    &.panel > .text-wrapper {
        position: absolute;
        right: 500px;
        width: 300px;
        top: 50%;
        transform: translateY(-50%);
    }
    &.panel .art {
        width: 100%;
        position: relative;

        p {
            font-size: 41px;
            font-weight: 600;
            color: #fff;
        }

        .homemade-apple {
            position: absolute;
            bottom: -110px;
            right: -120px;
            font-size: 80px;
            color: #eaff98;
        }
    }
}
