body {
    margin: 0;
    font-family: sans-serif;
}

#mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    @include size(100%);
    background: #004B4E;
    z-index: 1000;
    text-align: center;
    .content {
        position: absolute;
        top: 50%;
        width: 100%;
        @include transform(translateY(-50%));
    }
    h1 {
        color: white;
        margin: 0;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: .2em;
    }
    p {
        font-size: 16px;
        margin: 10px;
        color: white;
        letter-spacing: .06em;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.container {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
    &.centered {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translateX(-50%) translateY(-50%));
    }
}

#header {
    height: 60vh;
    background: url('../images/header-bg.png') no-repeat center center #004B4E;
    position: relative;
    padding: 30px 0;
    overflow: hidden;
    .yuletype-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translateX(-50%) translateY(-50%));
    }

    h1 {
        font-size: 18px;
        margin: 0 0 10px 0;
    }

    p {
        font-size: 14px;
        line-height: 21px;
        max-width: 55%;
        margin: 0;
    }
}

.calendar {
    width: 225px;
    height: 175px;
    background: lightgrey;
    position: absolute;
    right: 0;
    top: 50%;
    @include transform(translateY(-50%));
}

.panel {
    // don't touch
    position: relative;
    height: 100vh;
    width: 100vw;
}

.panel {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .art {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translateX(-50%) translateY(-50%));
    }
    .byline {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 12px;
    }
    .day {
        position: absolute;
        @include size(40px);
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        top: 20px;
        left: 20px;
        border: 3px solid red;
        color: red;
        border-radius: 100px;
    }
}

#day1 {
    background: lightgrey;
}

#day3 {
    background: blue;
}
