body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    &.centered {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translateX(-50%) translateY(-50%));
    }
}

header {
    height: 60vh;
    position: relative;
}

h1 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

p {
    font-size: 14px;
    line-height: 21px;
    max-width: 55%;
    margin: 0;
}

.calendar {
    width: 225px;
    height: 175px;
    background: lightgrey;
    position: absolute;
    right: 0;
    top: 50%;
    @include transform(translateY(-50%));
}

.panel {
    width: 100vw;
    height: 100vh;
    position: relative;
    .byline {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 12px;
    }
    .day {
        position: absolute;
        @include size(40px);
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        top: 20px;
        left: 20px;
        border: 3px solid red;
        color: red;
        border-radius: 100px;
    }
}

#day1 {
    background: lightgrey;
}

#day2 {
    background: yellow;
}

#day3 {
    background: blue;
}
