#day2 {
    & {
        text-align: center;
        @include linear-gradient(to bottom, #c4ccc8, #d4d8cb);
    }

    .art {
        width: 100%;
    }

    h1 {
        display: block;
        font-size: 108px;
        text-transform: uppercase;
        color: #e8e8e8;
        margin: 0 0 10px 0;
        @media screen and (max-width: 768px) {
            font-size: 64px;
        }
        @media screen and (max-width: 500px) {
            font-size: 50px;
        }
    }

    h2 {
        margin: 0;
        color: #2d302e;
        font-size: 26px;
        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }

    .title-container {
        position: relative;
    }

    .title {
        display: block;
        width: 90%;
        margin-top: -1.5px;
        margin-left: -1.5px;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 2;
        background: -webkit-linear-gradient(#e8e8e8 10%, #ccd2c9 80%);
        @include transform(translateX(-50%));
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }

    .title-shadow {
        display: block;
        width: 100%;
        position: relative;
        bottom: -1.5px;
        right: -1.5px;
        color: #2d302e;
        background: -webkit-linear-gradient(#2d302e 10%, #ccd2c9 80%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

#day10 {
    $vermillion: #da2a08;
    $text-shadow: rgba(0,0,0,0.4);
    background-color: #fff6e0;
    @include linear-gradient(#fff6e0 10%, #fffcf5 20%, #fffcf5 90%, #fff6e0 100%);

    .art {
        white-space: nowrap;
    }

    &.animating {
        .letter {
            @include animation(smoke 10s ease-in-out infinite);
        }
    }

    .text {
        font-size: 40px;
        line-height: 60px;
        color: #353535;
        perspective: 250px;
        border-bottom: 4px double black;
        border-top: 4px double black;
    }

    .letter {
        display: inline-block;
        text-shadow: 0 0 0 $text-shadow;
    }

    .line-1 {
        letter-spacing: 5.9px;
    }

    .line-2 {
        letter-spacing: 1.1px;
    }

    .line-4 {
        letter-spacing: 3.6px;
    }

    @include keyframes('smoke') {
        0% {
            @include transform(translate3d(0,0,0));
            opacity: 1;
            text-shadow: 0 0 0 $text-shadow;
        }
        40% {
            @include transform(translate3d(0, -25px, -10px));
            opacity: 0.5;
            text-shadow: 0 26px 10px $text-shadow;
        }
        50% {
            @include transform(translate3d(0, -25px, -14px));
            opacity: 0.4;
            text-shadow: 0 26px 14px $text-shadow;
        }
        100% {
            @include transform(translate3d(0,0,0));
            opacity: 1;
            text-shadow: 0 0 0 $text-shadow;
        }
    }
}
