#day7 {
    background-image: url(/images/digital-camo.jpg);
    &.panel > .art {
        // where you can art
        width: 100%;
        text-align: center;
        .league-gothic {
            font-size: 300px;
            letter-spacing:.04em;
            color: #DD022B;
            margin:10px;
        }
        .black-ops{
            font-size: 22px;
            letter-spacing: .1em;
            color: #737A14;
            margin: 5px;
            text-transform: uppercase;
        }
        .quicksand{
            font-size: 22px;
            letter-spacing: .07em;
            color: #737A14;
            margin: 5px;
        }
    }
}

#day14 {
    background-image: url(/images/grinch-bkgd.gif);
    background-size: cover;

    .byline {
        color: #ffffff;
    }

    &.panel > .art {
        width: 1200px;

        h2 {
            color: #fff;
            font-size: 30px;
            letter-spacing: .02em;
        }

        .line1 {
            margin-left: 180px;
        }

        .line2 {
            margin-left: 200px;
        }

        .line3 {
            margin-left: 220px;
        }

        .line4 {
            margin-left: 370px;
        }

        .line5 {
            margin-left: 380px;
        }

        .line6 {
            margin-left: 360px;
        }

        .montserrat {
            font-size: 100px;
            color: #FFE200;
            letter-spacing: .02em;
            text-transform: uppercase;
            text-align: center;
            text-align: center;
            margin-bottom: 40px;
            margin-top: 40px;
        }

        .underline {
            color: #FFE200;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: 'Montserrat', sans-serif;
            font-size: 26px;
        }
    }
}
