/*
    Imports
*/

@import url(https://fonts.googleapis.com/css?family=Radley:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Oswald|Podkova);

/*
    Classes
*/

.ubuntu-mono {
  font-family: "Ubuntu mono",sans-serif;
  font-style: normal;
  &.reg {
    font-weight: 400;
  }
}

.radley-italic {
  font-family: "Radley",sans-serif;
  font-style: italic;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.podkova {
  font-family: 'Podkova', serif;
}
