/*
    Imports
*/

@import url(https://fonts.googleapis.com/css?family=Radley:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Oswald|Podkova);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:400italic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700italic,700);
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(https://fonts.googleapis.com/css?family=IM+Fell+English:400italic,400);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

/*
    Classes
*/

.ubuntu-mono {
  font-family: "Ubuntu mono",sans-serif;
  font-style: normal;
  &.reg {
    font-weight: 400;
  }
}

.radley-italic {
  font-family: "Radley",sans-serif;
  font-style: italic;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.podkova {
  font-family: 'Podkova', serif;
}

.playfair {
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-weight: 400;
}

.pt-sans {
    font-family: 'PT Sans Narrow', sans-serif;
}

.jaf-herb {
    font-family: "jaf-herb-condensed",sans-serif;
    font-style: normal;
    font-weight: 700;
}

.proxima-nova {
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 400;
    &.black {
        font-weight: 900;
    }
}

.lora {
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
}

.quicksand{
    font-family: 'Quicksand', sans-serif;
}

.league-gothic {
    font-family: "league-gothic",sans-serif;
    font-style: normal;
    &.reg {
        font-weight: 400;
    }
}

.black-ops{
  font-family: 'Black Ops One', cursive;
}

.bitter {
  font-family: "bitter",serif;
  font-style: normal;
  &.reg {
    font-weight: 400;
  }
}

.dosis{
  font-family: 'Dosis', sans-serif;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.fell-english {
    font-family: 'IM Fell English', serif;
}

.crimson {
  font-family: 'Crimson Text', serif;
  font-style: normal;
}
